<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="description"
    content="Welcome to Vidyavantam - Comprehensive online live classes to impart knowledge to students for academic and competitive exams" />
  <title>Vidyavantam - Contact Us</title>
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  {{>nav}}
  {{>backtotop}}
  {{>contact}}
  {{>footer}}
  <script src="/js/script.js"></script>
</body>

</html>