<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="description"
    content="Welcome to Vidyavantam - Comprehensive online live classes to impart knowledge to students for academic and competitive exams" />
  <title>Vidyavantam - Contact Us</title>
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  {{>nav}}
  {{>backtotop}}
  <section class="text-gray-600 body-font">
    <div class="container px-5 mx-auto" style="padding-top:20px; padding-bottom:40px;">
      {{>shop title="Shop"}}
    </div>
  </section>
  {{>footer}}
  <script src="/js/script.js"></script>
</body>

</html>