<div id="back-to-top-btn" class="btnExit btb-container">
  <div class="btb-top">
    <div><svg viewBox="0 0 24 24" class="btb-icon">
        <path d="M7.997 10l3.515-3.79a.672.672 0 0 1 .89-.076l.086.075L16 10 13 10.001V18h-2v-7.999L7.997 10z">
        </path>
      </svg></div>
  </div>
</div>