<div as="nav"
  class="my-nav-bar bg-white border-gray-200 px-2 sm:px-4 pt-7 pb-7 py-2.5 dark:bg-gray-900 w-full z-10 top-0 border-b dark:border-gray-800 border-grey-light"
  style="z-index: 100;">
  <div class="container flex flex-wrap justify-between items-center mx-auto"><a aria-current="page" class="flex active"
      href="/"><span class="self-center text-2xl whitespace-nowrap dark:text-white">Sarvavyaptam</span></a>
    <div type="button" data-collapse-toggle="mobile-menu"
      class="cursor-pointer inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="mobile-menu-2" aria-expanded="false"><span class="sr-only">Open main menu</span><svg
        class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg><svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg></div>
    <div class="hidden w-full md:block md:w-auto">
      <ul class="flex flex-col mt-4 md:flex-row md:mt-0 md:text-sm md:font-medium"
        style="display: flex; align-items: center;">
        <li><a aria-current="page"
            class="ml-6 text-lg hover:text-blue-700 dark:text-gray-400 block py-2 pr-4 pl-3 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 active"
            href="/">Home</a></li>
        <li><a
            class="ml-6 text-lg hover:text-blue-700 dark:text-gray-400 block py-2 pr-4 pl-3 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            href="/shop">Shop</a></li>
        <li><a
            class="ml-6 text-lg hover:text-blue-700 dark:text-gray-400 block py-2 pr-4 pl-3 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            href="/contact">Contact</a></li>
        <div class="hidden lg:block"><a
            class="dark:bg-slate-600 ml-6 dark:hover:bg-slate-500 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            type="button" href="/login">Login</a><a
            class="dark:hover:bg-gray-400 ml-3 dark:bg-gray-300 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
            type="button" href="/register">Register</a></div>
        <div class="relative lg:hidden block">
          <div><button id="headlessui-menu-button-3" type="button" aria-haspopup="true" aria-expanded="false">
              <div>
                <div type="button"
                  class="flex cursor-pointer font-medium text-black rounded items-center px-3 py-2 border text-grey border-grey-dark dark:border-gray-700 hover:text-black hover:border-purple appearance-none focus:outline-none ml-2">
                  <svg class="dark:fill-gray-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24">
                    <path
                      d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v2c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-2c0-2.66-5.33-4-8-4z">
                    </path>
                  </svg>
                </div>
              </div>
            </button></div>
        </div>
        <div class="relative lg:block hidden">
          <div><button id="headlessui-menu-button-6" type="button" aria-haspopup="true" aria-expanded="false">
              <div>
                <div type="button"
                  class="flex cursor-pointer font-medium text-black rounded items-center px-3 py-2 border text-grey border-grey-dark dark:border-gray-700 hover:text-black hover:border-purple appearance-none focus:outline-none ml-2">
                  <svg class="dark:fill-gray-500" width="24" height="24" focusable="false" aria-hidden="true"
                    viewBox="0 0 24 24" data-testid="ShoppingCartOutlinedIcon" aria-label="fontSize large">
                    <path
                      d="M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.37-.66-.11-1.48-.87-1.48H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z">
                    </path>
                  </svg>
                </div>
              </div>
            </button></div>
        </div>
        <div class="cursor-pointer">
          <div type="button"
            class="cursor-pointer flex font-medium text-black rounded items-center px-3 py-2 border text-grey border-grey-dark dark:border-gray-700 hover:text-black hover:border-purple appearance-none focus:outline-none ml-2">
            <svg class="dark:fill-gray-500 fill-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24">
              <path
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
              </path>
            </svg>
          </div>
        </div>
        <div class="hidden fixed inset-0" aria-hidden="true"></div>
      </ul>
    </div>
  </div>
  <div class="md:hidden">
    <div
      class="w-full flex-grow lg:flex lg:flex-1 lg:content-center lg:justify-end lg:w-auto lg:h-auto overflow-hidden mt-2 lg:mt-0 z-20 transition-all"
      id="nav-content" style="display: none;">
      <ul class="flex items-center flex-col lg:flex-row">
        <li
          class="dark:block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent mx-2 my-2">
          <a aria-current="page" class="active" href="/">Home</a>
        </li>
        <li
          class="dark:block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent mx-2 my-2">
          <a href="/shop">Shop</a>
        </li>
        <li
          class="dark:block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent mx-2 my-2">
          <a href="/contact">Contact</a>
        </li><a
          class="mb-2 dark:hover:bg-gray-400 ml-3 dark:bg-gray-300 inline-flex text-gray-700 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
          href="/my-cart">MyCart</a><a
          class="mb-2 dark:hover:bg-gray-400 ml-3 dark:bg-gray-300 inline-flex text-gray-700 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
          href="/my-orders">MyOrders</a><a
          class="dark:bg-slate-600 ml-6 dark:hover:bg-slate-500 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
          type="button" href="/login">Login</a><a
          class="mt-2 dark:hover:bg-gray-400 ml-3 dark:bg-gray-300 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg"
          type="button" href="/register">Register</a>
        <div class="container px-5 py-3 mx-auto">
          <form class="flex"><input type="text" placeholder="Search Here" name="name"
              class="dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 focus:border-indigo-500 dark:focus:bg-gray-900 dark:focus:ring-indigo-900 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              value="">
            <div type="button"
              class="w-1/4 ml-2 cursor-pointer bg-indigo-600 dark:text-gray-400 p-2 font-medium text-white rounded-md dark:hover:bg-gray-600 dark:bg-gray-700 dark:hover:text-gray-400 flex justify-center items-center hover:bg-indigo-500 hover:text-white text-lg">
              <svg class="dark:fill-gray-500 fill-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24">
                <path
                  d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                </path>
              </svg>
            </div>
          </form>
        </div>
      </ul>
    </div>
  </div>
</div>