<h1 class="text-3xl dark:text-gray-200 text-gray-900 font-medium title-font mb-7 text-center">{{title}}</h1>
<div class="flex flex-wrap -m-4">
  <a class="pl-4 pr-4 pt-4 md:mb-2 w-full xs:w-1/2 lg:mb-0 lg:w-1/4 md:w-1/2 sm:w-1/2"
    href="/shop/groceries">
    <div
      class="hover:shadow-lg transition-shadow h-full border-2 border-gray-200 dark:border-gray-700 border-opacity-60 rounded-lg overflow-hidden">
      <img class="lg:h-48 md:h-36 w-full object-cover object-center" alt="GROCERIES"
        data-src="https://c1.staticflickr.com/1/65535/48369161816_f609bf5a71_b.jpg">
      <div class="pt-6 pr-6 pl-6">
        <h1 class="title-font text-md font-medium dark:text-gray-100 text-gray-800 mb-3">GROCERIES</h1>
        <p class="leading-relaxed dark:text-gray-300 mb-4">Get Fresh groceries at best price to your home</p>
      </div>
    </div>
  </a><a class="pl-4 pr-4 pt-4 md:mb-2 w-full xs:w-1/2 lg:mb-0 lg:w-1/4 md:w-1/2 sm:w-1/2" href="/shop/stationary">
    <div
      class="hover:shadow-lg transition-shadow h-full border-2 border-gray-200 dark:border-gray-700 border-opacity-60 rounded-lg overflow-hidden">
      <img class="lg:h-48 md:h-36 w-full object-cover object-center" alt="STATIONARY"
        data-src="https://th.bing.com/th/id/OIP.xqanhPWMYfhw40-CRBRoywHaFt?pid=ImgDet&amp;w=500&amp;h=386&amp;rs=1">
      <div class="pt-6 pr-6 pl-6">
        <h1 class="title-font text-md font-medium dark:text-gray-100 text-gray-800 mb-3">
          STATIONARY</h1>
        <p class="leading-relaxed dark:text-gray-300 mb-4">Get all stationary items at best
          price to your home</p>
      </div>
    </div>
  </a><a class="pl-4 pr-4 pt-4 md:mb-2 w-full xs:w-1/2 lg:mb-0 lg:w-1/4 md:w-1/2 sm:w-1/2"
    href="/shop/computer-accessories">
    <div
      class="hover:shadow-lg transition-shadow h-full border-2 border-gray-200 dark:border-gray-700 border-opacity-60 rounded-lg overflow-hidden">
      <img class="lg:h-48 md:h-36 w-full object-cover object-center" alt="COMPUTER ACCESSORIES"
        data-src="https://th.bing.com/th/id/R.8c255bed865cd0c9c58821e72ecc5547?rik=4umteFfw%2fwg2rg&amp;riu=http%3a%2f%2f1.bp.blogspot.com%2f-XF6tqjvS0_U%2fVPF8bOadDVI%2fAAAAAAAAAoA%2fX0aTKN4Ntf8%2fs1600%2fecho15tbdock_peripherals.png&amp;ehk=O1rR9kr3GBNaAnY3JjUIEa5n%2fpiegO5MWjstb%2fiAiGs%3d&amp;risl=&amp;pid=ImgRaw&amp;r=0&amp;sres=1&amp;sresct=1">
      <div class="pt-6 pr-6 pl-6">
        <h1 class="title-font text-md font-medium dark:text-gray-100 text-gray-800 mb-3">
          COMPUTER ACCESSORIES</h1>
        <p class="leading-relaxed dark:text-gray-300 mb-4">Get computer accessories with
          best quality and brands at best price</p>
      </div>
    </div>
  </a><a class="pl-4 pr-4 pt-4 md:mb-2 w-full xs:w-1/2 lg:mb-0 lg:w-1/4 md:w-1/2 sm:w-1/2"
    href="/shop/computer-accessories">
    <div
      class="hover:shadow-lg transition-shadow h-full border-2 border-gray-200 dark:border-gray-700 border-opacity-60 rounded-lg overflow-hidden">
      <img class="lg:h-48 md:h-36 w-full object-cover object-center" alt="HOME AND KITECHEN"
        data-src="https://as2.ftcdn.net/v2/jpg/00/89/54/09/1000_F_89540935_pY6nsh5Vsz5dUSDnQ2FhuRJjI1bFjIVP.jpg">
      <div class="pt-6 pr-6 pl-6">
        <h1 class="title-font text-md font-medium dark:text-gray-100 text-gray-800 mb-3">
          HOME AND KITECHEN</h1>
        <p class="leading-relaxed dark:text-gray-300 mb-4">Get items used in home and
          kitchen at best price</p>
      </div>
    </div>
  </a>
</div>